accelerate==0.31.0
aiohttp==3.9.5
aiolimiter==1.1.0
aiosignal==1.3.1
albucore==0.0.11
albumentations==1.4.10
angle-emb==0.3.10
annotated-types==0.7.0
anyio==4.4.0
attrs==23.2.0
beautifulsoup4==4.12.3
bitsandbytes==0.43.1
boltons==24.0.0
certifi==2024.6.2
charset-normalizer==3.3.2
click==8.1.7
cohere==5.3.2
colorama==0.4.6
datasets==2.19.1
decorator==4.4.2
dill==0.3.8
docker-pycreds==0.4.0
docutils==0.19
einops==0.8.0
eval-type-backport==0.2.0
fastavro==1.9.4
filelock==3.15.3
flagembedding==1.2.9
frozenlist==1.4.1
fsspec==2024.3.1
gitdb==4.0.11
gitpython==3.1.43
gritlm==1.0.0
h11==0.14.0
httpcore==1.0.5
httpx==0.27.0
httpx-sse==0.4.0
huggingface-hub==0.23.4
idna==3.7
imageio==2.34.1
imageio-ffmpeg==0.5.1
iniconfig==2.0.0
jinja2==3.1.4
joblib==1.4.2
lazy-loader==0.4
levenshtein==0.25.1
lightning==2.3.0
lightning-utilities==0.11.2
llvmlite==0.43.0
markdown-it-py==2.2.0
markdownify==0.12.1
markupsafe==2.1.5
mdformat==0.7.17
mdformat-deflist==0.1.2
mdformat-frontmatter==2.0.1
mdformat-myst==0.1.5
mdformat-tables==0.4.1
mdit-py-plugins==0.3.5
mdurl==0.1.2
more-itertools==10.3.0
moviepy==1.0.3
mpmath==1.3.0
mteb==1.12.44
multidict==6.0.5
multiprocess==0.70.16
munch==4.0.0
networkx==3.3
nltk==3.8.1
nougat-ocr==0.1.17
numba==0.60.0
numpy==1.26.4
openai==0.28.0
openai-whisper==20231117
opencv-python-headless==4.10.0.84
orjson==3.10.5
packaging==24.0
pandas==2.2.2
peft==0.11.1
pillow==10.3.0
pip==24.0
platformdirs==4.2.2
pluggy==1.5.0
polars==0.20.31
prettytable==3.10.0
proglog==0.1.10
protobuf==5.27.1
psutil==6.0.0
pyarrow==16.1.0
pyarrow-hotfix==0.6
pydantic==2.7.4
pydantic-core==2.18.4
pygments==2.18.0
pypandoc==1.13
pypdf==4.2.0
pypdfium2==4.30.0
pytest==8.1.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-levenshtein==0.25.1
pytorch-lightning==2.3.0
pytrec-eval-terrier==0.5.6
pytube==15.0.0
pytz==2024.1
pyyaml==6.0.1
rapidfuzz==3.9.3
regex==2024.5.15
requests==2.31.0
rich==13.7.1
rst-to-myst==0.4.0
ruamel-yaml==0.18.6
ruamel-yaml-clib==0.2.8
safetensors==0.4.3
scenedetect==0.6.3
scikit-image==0.24.0
scikit-learn==1.5.0
scipy==1.13.1
sconf==0.2.5
sentence-transformers==3.0.1
sentencepiece==0.2.0
sentry-sdk==2.6.0
setproctitle==1.3.3
setuptools==69.5.1
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
soupsieve==2.5
sqlite==3.45.3
sympy==1.12.1
tenacity==8.4.1
termcolor==2.4.0
threadpoolctl==3.5.0
tifffile==2024.6.18
tiktoken==0.6.0
timm==0.5.4
tk==8.6.14
tokenizers==0.15.2
tomli==2.0.1
torch==2.3.0
torchmetrics==1.4.0.post0
torchvision==0.18.0
tqdm==4.66.2
transformers==4.38.2
triton==2.3.1
types-requests==2.32.0.20240602
typing-extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
voyageai==0.2.2
wandb==0.17.2
wcwidth==0.2.13
wheel==0.43.0
xxhash==3.4.1
xz==5.4.6
yarl==1.9.4
zlib==1.2.13
